:root {
    --color-darkGrey: #393E46;
    --color-lightGrey: #EEEEEE;
    --color-green: #00ADB5;
    --color-grey-blue-dark: #21325E;
    --color-grey-blue-light: #3E497A;
    --color-yellow: #F1D00A;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--color-grey-blue-light);
    font-family: 'PT Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--color-lightGrey);
}

ul {
    list-style-type: none;
}

/* ----------Start styles Header------------- */
.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--color-grey-blue-dark);
}

.header-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 60px;
    flex-basis: 80%;
    font-size: 35px;
    color: var(--color-lightGrey);
    cursor: pointer;
}

.header-nav li {
    position: relative;
    margin-right: 30px;
}

.header-nav li:hover {
    color: var(--color-yellow);
    transition: 0.4s;
}

.block-year {
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    width: 140px;
    height: auto;
    border-radius: 15px;
    background-color: var(--color-lightGrey);
    color: var(--color-darkGrey);
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.55s opacity, 0.55s visibility;
}

.block-year li {
    margin-bottom: 5px;
}

.block-genres {
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    width: 170px;
    height: auto;
    border-radius: 15px;
    background-color: var(--color-lightGrey);
    color: var(--color-darkGrey);
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.55s opacity, 0.55s visibility;
}

.nav-genres:hover .block-genres {
    opacity: 1;
    visibility: visible;
} 

.block-genres li:hover {
    color: var(--color-yellow);
    transition: 0.3s;
}

.block-year li:hover {
    color: var(--color-yellow);
    transition: 0.3s;
}

.nav-year:hover .block-year {
    opacity: 1;
    visibility: visible;
}

.yearInput {
    padding: 5px;
    width: 100%;
    border-radius: 50px;
    border: 3px solid var(--color-yellow);
    outline: none;
    font-size: 20px;
}

.yearInput::placeholder {
    color: var(--color-yellow);
    padding-left: 10px;
}


.searchInput {
    margin-right: 50px;
    padding: 20px;
    flex-basis: 20%;
    width: 300px;
    border-radius: 50px;
    background-color: var(--color-grey-blue-light);
    border: 1px solid var(--color-grey-blue-light);
    outline: none;
    color: var(--color-lightGrey);
    font-size: 20px;
}

.searchInput:hover, .searchInput:active {
    box-shadow: 1px 0 40px 2px #0ff;
}

.searchInput::placeholder {
    color: var(--color-yellow);
    font-weight: bold;
    opacity: 0.6;
}
/* ----------End styles Header------------- */

/* ----------Start styles Main------------- */
.container-main {
    width: 100vw;
}

.search-values {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 0;
    background-color: var(--color-yellow);
    transition: 0.4s;
}

.active-search-values {
    width: 100%;
    height: 40px; 
}

.search-values div {
    margin-left: 50px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-lightGrey);
    background-color: var(--color-grey-blue-light);
    border-radius: 20px;
    cursor: pointer;
}

.cross {
    text-decoration: line-through;
    color: var(--color-yellow);
}

.list-films {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.item-film {
    position: relative;
    margin: 20px 10px;
    width: 280px;
    height: 465px;
    border-radius: 15px;
    cursor: pointer;
}

.item-description {
    position: absolute;
    z-index: 3;
    bottom: -5px;
    width: 100%;
    height: 0;
    background-color: var(--color-lightGrey);
    border-radius: 15px;
    font-size: 18px;
    overflow: auto;
    box-sizing: border-box;
    transition: 0.5s ; 
    transition-property: height;
    transition-duration: 4s;
    transition-delay: 1s;
}


.item-film:hover .item-description{
    transition-property: height;
    transition-duration: 4s;
    transition-delay: 1s;
 
    padding: 15px;
    height: auto;
    max-height: 100%;  
}

.item-img {
    width: 100%;
    height: 85%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px 15px 0 0;
}

.item-footer {
    display: flex;
    justify-content: space-around;
    height: 15%;
    border-radius: 0 0 15px 15px;
    background-color:  var(--color-yellow);
    color: var(--color-grey-blue-dark);
}

.item-footer-title {
    flex-basis: 80%;
    padding: 5px 10px;
    font-size: 20px;
    overflow: hidden;
}

.item-footer-vote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    font-size: 25px;
}
.vote {
    padding: 0 5px;
    background-color: var(--color-grey-blue-light);
    color: var(--color-lightGrey);
    border-radius: 20px;
}
/* ----------End styles Main------------- */

